<div class="row" id="post_server_path">
    <div class="col-md-2">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="server_list_dropdown">
                Server List
            </button>
            <div class="dropdown-menu server_list">
                <a class="dropdown-item" href="#">shnhcnlx031</a>
                <a class="dropdown-item" href="#">shnhcnlx032</a>

                <a class="dropdown-item" href="#">shnhcnlx033</a>
                <a class="dropdown-item" href="#">shnhcnlx035</a>
                <a class="dropdown-item" href="#">shnhcnlx036</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">cdcpillx144</a>
                <a class="dropdown-item" href="#">cdcpillx087</a>
                <a class="dropdown-item" href="#">cdcpillx088</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">BRSCDELX011</a>
                <a class="dropdown-item" href="#">BRSCDELX012</a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Main Path</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   placeholder="Input the Main File path in server" id="server_location">
            <div class="input-group-prepend">
                <span class="input-group-text">M</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   placeholder="Main File" id="main_input_file">
            <div class="input-group-prepend">
                <span class="input-group-text">G</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   placeholder="Gasket File" id="gasket_input_file">
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Local Location</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="local_location"
                   placeholder="Local Location for Results stored" id="local_location">
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">FEA_No.</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="fea_number">
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Requestor</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="requestor">
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Analyst</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="analyst">
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Customer</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="customer_name">
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Project</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="project_name">
        </div>
    </div>
    <div class="col-md-8">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" id="request_title">
        </div>
    </div>
</div>