<div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler_menu"
                    aria-controls="navbarToggler_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-user fa-fw"></i>{{ username }}</a>
            <div class="collapse navbar-collapse" id="navbarToggler_menu">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" id="a_pre_process">Pre-Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Solver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="a_post_process">Post-Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DataBase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group dropright">
                            <a class="nav-link" href="#">
                                Quick Links
                            </a>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropright</span>
                            </button>
                            <div class="dropdown-menu">
                                <a href="http://cdcpillx191.fedmog.federalmogul.com/fea/index.php?manage_request=1">FEA
                                    Request System</a>

                                <a href="http://cdcpillx191.fedmog.federalmogul.com/cad/index.php?manage_request=1">CAD
                                    Request System</a>
                                <div class="dropdown-divider"></div>
                                <a href="http://fmeworld.federalmogul.com/default.aspx">Tenneco Home Page</a>
                                <div class="dropdown-divider"></div>
                                <a href="http://10.216.161.37:88/WFHome.aspx">Employee System</a>
                                <a href="http://vhome.colipu.com/login.html">Stationery System</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </nav>
    </div>