<div class="col-sm-6 col-md-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/pics/LDs_Check.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Gasket LDs Check</h5>
                    <p class="card-text">Using python to create a picture to show the relative position of
                        properties
                        listed in gasket section function, convenient for user to check the LDs before submitting
                        jobs on server</p>
                    <p class="card-text"><small class="text-muted">Last edit by Wei Li on 2019/10/11</small></p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#pre_lds_check">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/pics/Gasket_Mesh.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Gasket Mesh</h5>
                    <p class="card-text">It is a tcl based plug-in which is embedded into Hypermesh, utility panel.
                        The tool can create 2D gasket mesh by trimming the surface into small parts, then dragged to
                        3D gasket model</p>
                    <p class="card-text"><small class="text-muted">Last edit by Wei Li on 2019/10/11</small></p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#pre_gasket_mesh">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/pics/Engine_Assemble.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Build Surface & Sets for CHG Analysis</h5>
                    <p class="card-text">It is a tcl based plug-in which is embedded into Hypermesh, utility panel.
                        The tool will set the engine with unique part name, create the necessary surface and sets
                        automatically.</p>
                    <p class="card-text"><small class="text-muted">Last edit by Wei Li on 2019/10/11</small></p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#pre_engine_assemble">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/pics/MMC_Space.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">MMC Space Check</h5>
                    <p class="card-text">A small function can help to check if there is enough space to make the MMC
                        to be compressed or expanded, for a limited groove, better to do a pre-check before running
                        2D analysis.</p>
                    <p class="card-text"><small class="text-muted">Last edit by Wei Li on 2019/10/11</small></p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#pre_mmc_spack_check">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/pics/Curve_fitting.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Rubber Curve Fitting</h5>
                    <p class="card-text">Better curve fitting is benefit for obtaining accurate results, for
                        different
                        application, suggestion is to select the possible strain range to do a curve fitting before
                        running analysis.</p>
                    <p class="card-text"><small class="text-muted">Last edit by Wei Li on 2019/10/11</small></p>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#pre_curve_fitting">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>